html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}


.block {
    width: 100%;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.block1 {
    height: 35%;
    background-color: rgb(25, 135, 84);
    justify-content: right;
}

.block2 {
    height: 65%;
    background-color: lightgray;
}
.block3 {
    background-color: lightgray;
    position: absolute;
    width: 100%;
    top: 35%;
    height: 65%;

}
.block4 {
    height: 35%;
    width: 100%;
    position: absolute;

}



.foo1{
    position: absolute;
    right: 1%;
    top: 4%;  
}
.foo2{
    width: 70%;
    background-color: white;
    height: 85%;
    position: absolute;
    left: 15%;
    top: 5%;
    border-radius: 10px;

}
#foo3{
    height: 15%;
    z-index: 100;
}
.col-4{
border-color: black;
    border-right-color: black;
    border-width: 1px;
}
.foo4{
    position: absolute;
    height: 85%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    left: -0.9%;
    border-bottom-left-radius: 10px;
    top: 0.7%;
        border-bottom-right-radius: 10px;
}
.bar4{
    width: 100%;
    margin: 0%;
    padding: 0%;
    position: absolute;
    top: 5%;
}
