.block {
    width: 100%;
    color: #fff;
    font-size: 24px;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.block4 {
    height: 35%;
    width: 100%;
    position: absolute;

}
.foo1 {
    position: absolute;
    right: 1%;
    top: 4%;
}
.block3 {
    background-color: lightgray;
    position: absolute;
    width: 100%;
    top: 35%;
    height: 65%;

}
.bar10{
    width: 4%;
    height: 20%;
}
img{
    width: 130%;
    height: 130%;
    padding:0%;
    margin: 0%;
}
